.allMenu{
    background-color: #F5F4F4;
    width: 55%;
    height: auto;
}

.headerAllMenu{
    background-color: #050505;
    color:#F9F9F9;
    text-align: center;
    padding: 3px;
    font-size:24px;
}