.orderAndAllMenu{
    font-family: Verdana;
    display:flex;
    justify-content: space-evenly;
    margin-top:10px;
    height: 100%;
}

.container-orders{
    font-family: Verdana;
    display:flex;
    justify-content: space-evenly;
    margin-top:10px;
    height: 100%;
}

// Order
.order{
    width: 38%;
}

.detail-order{
    background-color: #F5F4F4;
}

.body-detail-order{
    padding-top:10px;
    padding-bottom:10px;
    font-size:15px;
}

.title-order , .title-detail{
    background-color: #050505;
    color:#f9f9f9;
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding: 3px;
}

.info-header-order{
    padding: 4px;
    background-color: #F5F4F4;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
// Product order
.product-order {
    display:flex;
    justify-content: space-around;
    margin: 5px 0px 5px 0px;
}

.product-order div{
    display:flex;  
}

.button-add, .button-less, .button-trash{
    border: none;
}
.fas{
    font-size: 20px;
}
.fa-trash-alt{
    color: #575756;
}

.fa-plus-circle{
    color: #FC9A09;
}

.fa-minus-circle{
    color: #D95A03;
}

div p{
    margin: 0px 5px 0px 5px;
}
.product-detail{
    display:inline;
    width:100%;
    white-space:pre;
}
strong{
    font-size: 20px;
}
span{
    font-size: 16px;
}
.order-table, .order-name{
    font-size: 20px;
}
// Total monto

.container-total{
    background-color: #050505;
    color:#f9f9f9;
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding: 3px;
}

// Botton orden-cancel

.button-cancel{
        width: 100%;
        height: 44px;
        margin: 5px;
        border: none;
        background-color: #C4C4C4;
        margin: 0;
        margin-top: 5px;
        margin-bottom:5px ;
        font-size: 20px;
        color: #D95A03;
    }

    // botton orden send
.button-send{
        background-color: #D95A03;
        margin: 0;
        margin-top: 5px;
        width: 100%;
        height: 44px;
        font-size: 20px;
        color: #f9f9f9;
        border: none;
    }
    