.viewAllMenu{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.itemMenu{
    width: 30%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.itemMenu img{
    width: 60%;
    margin-bottom: 10px;
}

.itemMenu section{
    width: 90%;
    padding: 3px 5px;
    border-radius: 5px;
    background-color: #F9F9F9;
    border-style:solid;
    border-color:#D95A03;
    border-width: 1px;
    text-align: center;
    margin-bottom: 5px;
}
