.titulo{
    margin-top: 50px;
    text-align: center;    
}

.list-order{
    width: 40%;
    height: 40%;
    margin: auto;
    font-size: calc(0.5em + 0.5vw);
    background-color: #FDB827;
    border-radius: 3%;
    border: 3px solid#FDB827 ;
}

.status{
    width: 100%;
    margin: 0;
    border-radius: 3%;
    background-color: #F1F1F1;
    border: 3px solid#F1F1F1 ;
    color:  #21388B;
    display: flex;
    // flex-direction: row;
}

.client{
    display: flex;
    flex-direction: row;
}
.time{
    display: flex;
    flex-direction: row;
}
.time p{
    width: 7%;
    //height:0%;
    border-radius: 10%;
    text-align: center; 
    color: #ffffff;
    border: 3px solid#F1F1F1 ;

}

.order{
    display: flex;
    justify-content: left;
    flex-direction: column; 
}
div.btn{
    display:flex;
    justify-content: center;
}

.btnList{
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 10px ;
    color: #ffffff;
    width: 15%;       
    height: 30px;
    border: 2px solid #21388B;
    cursor:pointer;
    background-color:  #21388B;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.356);
    font-size: calc(0.5em + 0.5vw);
    bottom: 50px;
    z-index: 100;
  }

  .btnList button:hover{
    width: 22%;       
    height: 44px;
  }
