<h2 class="titulo">Lista de Pedidos</h2>
<section class="list-order">
    <div class="status">
        <p class="left">Estado:Pendiente</p>
        <p class="rigth"><strong>N°001</strong></p>
    </div>
    <div class="client">
        <p>Cliente: Karen</p>
        <p>22/Abr</p>
    </div>
    <div class="time">
        <h2>Detalle de pedido</h2>
        <p>03:30</p>
    </div>
    <div class="order">
        <p>- 01 cafe con leche</p>
        <p>- 01 cafe americano</p>
        <p>- 01 hamburguesa doble</p>
    </div>
  <div class="btn">
    <button class="btnList"  >Listo<i class="fas fa-arrow-right"></i></button>
  </div>

</section>
