<h2 class="titulo">Resumen de pedido</h2>
<table>
  <tr>
    <td>Cliente:</td>
    <td>Maria Paula</td>
    <th>N°: 001</th>
  </tr>
  <tr>
    <td>Monto total: </td>
    <td>  S/. 41.00</td>
  </tr>

  <br>
</table>

<table>
  <tr>
    <th>Item</th>
    <th>Producto</th>
    <th>Cantidad</th>
    <th>Total</th>
  </tr>
  <tr>
    <td>01 </td>
    <td> cafe con leche</td>
    <td> <input type="checkbox" id="add"> 1 <input type="checkbox" id="reduce"></td>
    <td> S/.  7.00 <input type="checkbox" id="delete"></td>
  </tr>
  <tr>
    <td>01</td>
    <td>Jugo de futas</td>
    <td> <input type="checkbox" id="add"> 2 <input type="checkbox" id="reduce"></td>
    <td> S/. 14.00 <input type="checkbox" id="delete"></td>
  </tr>
  <tr>
    <td>01</td>
    <td>Sandwich de jamon y queso </td>
    <td> <input type="checkbox" id="add"> 2 <input type="checkbox" id="reduce"></td>
    <td> S/. 20.00 <input type="checkbox" id="delete"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td> </td>
    <td> S/. 41.00</td>
  </tr>
  <br>
</table>