.titulo{
    font-weight: 700;
    letter-spacing: -.015em;
    line-height: 1.04;
    margin-bottom: 0;
    word-spacing: -.02em;
}

table {
    border-bottom-color: #00FF00;
    font-size: 16px;
 }
// td {
//     width: 3%;
//  }
 th, td {
    
     align-items:center;
     text-align: left;
    //  font-size: 16px;
     
 }