.titulo{
    margin-top: 50px;
    text-align: center;    
}

.detail{
    width: 40%;
    margin: auto;
    overflow-x: auto;
    font-size: 26px;
    white-space: normal;
}

.N-order{
    color: #21388B;

}

.items{
    text-align: left;
}

.products {
    width: 50%;
    margin: auto;

}
 th,td{
    font-size: 26px;
    text-align: center;
  

}


    button{
        border-radius: 30% ;
        color:#21388B;
        width: 40px;       
        height: 40px;
        border: 3px solid #21388B;
        margin: 0%;
       
    }
  

    .total{
        background-color:  #FDB827;
        border-radius: 8px ;

    }

// ----------------------------Desktop------------------------------//
    @media screen and (max-width: 1024px) {

.detail{
    overflow-x: auto;
    font-size: 26px;
    white-space: normal;
}
    .products{
    width: 50%;
    margin: auto;
    }
    td,th{
    width: 20%;
    }

    }
    button{
        border-radius: 50% ;
        color:#21388B;
        width: 40px;       
        height: 40px;
        border: 3px solid #21388B;
    }
    .total{
        width:15%;
        background-color:  #FDB827;
        border-radius: 8px ;

    }
   
   