<h2 class="titulo">Resumen de pedido</h2>
<table>
  <tr>
    <td>Cliente:</td>
    <td>Maria Paula</td>
    <th>N°: 001</th>
  </tr>
  <tr>
    <td>Monto total: </td>
    <td>  S/. 41.00</td>
  </tr>

  <br>
</table>

<table>
  <tr>
    <th>Item</th>
    <th>Producto</th>
    <th>Cantidad</th>
    <th>Total</th>
  </tr>
  <tr>
    <td> 01 </td>
    <td> cafe con leche</td>
    <td class="contador">
      <tr>
        <td> <button id="add" class="fas fa-plus"></button></td>
        <td>2</td>
        <td> <button id="reduce" class="fas fa-minus"></button></td>
      </tr>
    </td>
    <td class="contador"> 
      <tr>
        <td>S/7.00</td>
        <td><button id="delete" class="fas fa-trash-alt"></button></td>
        </tr>
    </td>
  </tr>

</table>