
.footer{
    background-color: #F1F1F1;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textFooter{
    color:#C0BCBC;
    text-align: center;
}
@media screen and (max-width: 575px) {
    .footer{
        height: 50px;
    }
    .textFooter{
        font-size: 8px;
    }
  }