<section class="modal" *ngIf="visible">
    <div class="container">
        <div class="headerModal">
            <p class="title">Detalle de Pedido</p>
            <button class="fas fa-times close" (click)="closeModal()"></button>
            <table>
                <tr class="rowHeader">
                    <th>Item</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
                <tr class="rowDetail" *ngFor="let data of dataDetail; index as i">
                    <td>{{i}}</td>
                    <td>{{data.product}}</td>
                    <td>{{data.quantity}}</td>
                    <td>{{data.subtotal}}</td>
                </tr>
            </table>
        </div>
    </div>
</section>