// Estilo tabla
table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 2%;
}
.rowHeader{
    background-color: #21388B;
    color: #f2f2f2;
}
.rowDetail{
    font-size: calc(0.5em + 0.5vw);
    text-align: center;
    border-bottom: 1px solid #21388B;
    
}
.rowHeader th{
    padding: 1%;
    width: 20%;
}
.rowHistory td {
    width: 20%;
    padding: 1%;
}
.rowDetail:hover {background-color: #21388b62;}
.rowDetail:nth-child(even) {background-color: #f2f2f2;}
.additional{
    display: flex;
    flex-flow: row nowrap;
}

// CSS Adicionales
.select {
    border-radius: 5px ;
    border: 2px solid #FDB827;
    background-color:#fff;
    width: 90%;
}
.btnDelete{
    border-radius: 50% ;
    color:#21388B;
    height: 40px;
    width: 40px;
    border: 3px solid #21388B;
    background: #fff;
}
.btnDelete:hover{
    background-color: #21388B;
    color: #fff;
}