  <!-------------------------encabezado de pestañas-------------------------------------------->
<header>
    <div class="logo">
    <img id="imagenpoke" src="/imagenes/LOGOPOK.PNG" style="min-width:100px">
  </div>
      <!--------Barra de navegación para dipositivo tablet "mostrara las lista"------>

      <input type="checkbox" id="btn-menu">
      <label class="icono-menu" for="btn-menu"><i class="icono"></i> Menú</label>

      <!--------------------Barra  de navegacion para las 4 vistas ------------------>
    <nav class="menu">
      <ul>
        <li><a href="#" id="menu_inicio"><i class="fas fa-home"></i>Menú</a></li>
        <li><a href="#" id="Ordenes"><i class="fas fa-dragon"></i>Odenes</a></li>
        <li><a href="#" id="por-entregar"><i class="fas fa-gamepad"></i>Por Entregar</a></li>
        <li><a href="#" id="historial"><i class="fas fa-chart-line"></i>Historial</a></li>
      </ul>
    </nav>
  </header>