  <!-------------------------Encabezado de pestañas-------------------------------------------->
  <header>
      <!--------Barra de navegación para dipositivo tablet "mostrara las lista"------>
      <h1 class="icono-hamburguesa">Burger Queen</h1> 
      <input type="checkbox" id="btn-menu">
      <label class="icono-menu" for="btn-menu"><i class="icono"></i> Menú</label>

      <!--------------------Barra  de navegación para las 4 vistas ------------------>
    <nav class="menu">
      <ul>
        <li><a href="#" >Menú</a></li>
        <li><a href="#" >Ordenes</a></li>
        <li><a href="#" >Por Entregar</a></li>
        <li><a href="#" >Historial</a></li>
      </ul>
    </nav>
  </header>