@import url(https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap);

$theme-font: 'Amatic SC', sans-serif;
$main-color: #050505;
$orange: #D95A03;
$light-orange: #FC9A09;
$light-gray: #F5F4F4;
$white: #F9F9F9;
$light-green: #CBD916;

