<table>
    <tr class="rowHistoryHeader">
        <th>N° Pedido</th>
        <th>Nombre de Cliente</th>
        <th>Detalle</th>
        <th>Fecha</th>
        <th>Importe Total</th>
    </tr>
    <tr class="rowHistory" *ngFor="let data of childDataOrder">
        <td>N° {{data.numOrder}}</td>
        <td>{{data.customerName}}</td>
        <td><a href="">Detalle pedido</a></td>
        <td>{{formatDate(data.date)}}</td>
        <td>S/{{data.total}}.00</td>
    </tr>
</table>
<section class="modalOrderDetail">
    
</section>