
table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 2%;
}
.rowHistoryHeader{
    background-color: #FDB827;
    color: #f2f2f2;
}
.rowHistory{
    font-size: calc(0.5em + 0.5vw);
    text-align: center;
    border-bottom: 1px solid #FDB827;
    
}
.rowHistoryHeader th{
    padding: 1%;
    width: 20%;
}
.rowHistory td {
    width: 20%;
    padding: 1%;
}
.rowHistory:hover {background-color: #eee1c5;}

.rowHistory:nth-child(even) {background-color: #f2f2f2;}
.openDetail{
    color: #1a2d75;
    text-decoration: underline;
    cursor: pointer;
}
.openDetail:hover{
    color: #3253c9 ;
}
